a {color: white;}

body {
  background-color:black;
  color: white;
  background-image: url(Images/perlin_noise.png);
}

img {
  width:300px;
  height:300px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  width: auto;
  max-width: 900px;
  margin: 15px auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container div {
  background-color: black;
  padding: 10px;
  font-size: 18px;
  flex: 1 1 auto;
}

.image_display {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  border-top: 5px dashed white;
}

.image_display div {
  text-align: center;
}

.game_display {
  display: flex;
  max-width: 40%;
  border: 5px dashed white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.game_display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.greater_game_display {
  display: flex;
  max-width: 100%;
}

.greater_game_display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.nav-links.top {
  border-bottom: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  max-width: 880px;
 }

.nav-links {
  text-align: center;
  font-size: 32px;
  padding: 10px;
  background-color: grey;
  margin: 0 auto;
  border: 5px solid white;
}

.nav-links span {
  margin: auto;
  max-width: 100%;
}
